// milestone page

.milestone-video {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

.project-details {
  margin: 3em 2em 0;
  display: flex;
  font-family: $main-font;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a {
    color: $copy-color;
    &:hover {
      color: gray;
    }
  }
  p {
    font-size: 17px;
    line-height: 1.5em;
    font-family: $main-font;
    color: $copy-color;
    text-align: left;
    max-width: 600px;
  }
  .detail-color {
    color: $jiva-blue;
  }
}

.project-info {
  margin: 3em 3em 6em;
  display: flex;
  font-family: $main-font;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 17px;
    line-height: 1.5em;
    font-family: $main-font;
    // color: $copy-color;
    text-align: justify;
    max-width: 600px;
  }
}
