// team page


.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 4em 2em;
  font-family: $main-font;
  .jay-photo img {
    width: 300px;
    height: 300px;
  }
  .steve-photo img {
    width: 300px;
    height: 300px;
  }
  h1 {
    font-size: 1.5em;
    color: $jiva-blue;
    text-align: center;
    padding: 1em 0;
    font-family: $title-font;
    text-decoration: none;
  }
}

.team-card p {
  // color: $copy-color;
  text-align: justify;
  font-family: $main-font;
  font-size: 17px;
  line-height: 1.5em;
}

.team-content ul {
  display: flex;
  li {
    padding: 1em 1em 0 0;
  }
}

@media screen and (min-width: 700px) {
  .team-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // max-width: 900px;
    // align-items: center;
    .team-content{
      margin-left: 3em;
      align-self: flex-end;
    }
  }

  .team-content p {
    font-size: 17px;
    line-height: 1.5em;
    max-width: 500px;
  }

  .team-content h1 {
    text-align: left;
  }
}
