// tech

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel img {
  display: block;
  height: 200px;
  margin-right: 10px;
}

@media screen and ( min-width: 700px ) {
  .carousel img {
    height: 200px;
  }

  .carousel {
    width: 300px;
  }

  .carousel-container {
    display: flex;
    margin-bottom: 4em;
    align-items: center;
    justify-content: center;
  }
}

.carousel-container {
  margin-bottom: 4em;
  align-items: center;
  justify-content: center;
}

.tech-detail {
  display: flex;
  flex-direction: column;
  margin: 3em 3em 4em;
  justify-content: center;
  align-items: center;
  p {
    font-size: 17px;
    line-height: 1.5em;
    font-family: $main-font;
    text-align: justify;
    max-width: 700px;
  }
}
