body {
  margin: 0;
  padding: 0;
}

header {
  height: 45px;
  position: relative;
  z-index: 100;
}

.nav-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  background-color: $jiva-gray;
}

.nav-container ul {
  display: flex;
  padding-right: 1em;
  list-style-type: none;
  color: $jiva-blue;
}

.nav-container li {
  padding-left: 10px;
  font-family: $title-font;
  color: $jiva-blue;
  font-size: 12px;
  letter-spacing: 1px;
  margin-left: 4.7em;
  a {
  text-decoration: none;
  color: $jiva-blue;
  line-spacing: 1px;
  }
  a:hover {
    color: gray;
  }
}

#nav-title {
  margin-left: 1em;
  img:hover {
    -webkit-filter: grayscale(100%);
  }
}

.menu-button {
  cursor: pointer;
  margin-right: 1em;
  color: $jiva-blue;
  font-family: $title-font;
  letter-spacing: 1px;
}

#mobile-menu {
  max-width: 700px;
  background-color: $jiva-gray;
  display: flex;
  position: relative;
}

#mobile-menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  list-style: none;
}

#mobile-menu li {
  padding: 1em 0;
  justify-content: center;
  font-family: $title-font;
  font-size: 16px;
  letter-spacing: 1px;
}

#mobile-menu a {
  text-decoration: none;
  color: $jiva-blue;
  letter-spacing: 1px;
}

.nav-container > .desktop-menu {
  display: none;
}

@media screen and (min-width: 700px) {
 .menu-button {
   display: none;
 }
 .nav-container > .desktop-menu {
   display: flex;
 }
}
